.footer {
  background-color: #f6edf0;
  width: 95%;
}

.subscriptionRow {
    border-bottom: 1px solid rgba(212,165,181,0.35);
    padding: 3rem;
}

.subscriptionText {
    font-weight: 700;
    font-size: 28px;
}

@media (max-width: 767px) {
    .subscriptionRow {
        padding: 1rem;
    }
    
    .subscriptionButton {
        margin: 2rem 0;
    }

    .subscriptionForm {
        text-align: center;
    }
}
