.card {
	width: 100%;
	height: 100%;
}

/* Since our entire card scales with the column height, setting the height for card.image will only scale according to how many % the image can take in the card */
.itemImage {
	width: 100%;
	/* Setting height to 100% will not take up the entire column height, but only 100% of what it's allowed to take because card still needs to cater for card.body */
	height: 100%;
	object-fit: cover;
	position: relative;
}

.itemImage:hover {
	cursor: pointer;
	transform: scale(1.03);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.itemCategory {
	color: rgba(0, 0, 0, 0.6);
	font-size: 0.9rem;
}

.itemTitle {
	color: #252525;
	font-weight: 500;
	font-size: 18px;
}

.itemPrice {
	color: #e7ab3c;
	font-size: 20px;
	font-weight: 700;
}

@media (max-width: 991px) {
	.itemTitle {
		font-size: 16px;
	}
	.itemCategory {
		font-size: 0.7rem;
	}
	.itemPrice {
		font-size: 16px;
	}
}
