.container {
	width: 85%;
}
.cardRow {
    height: 10rem;
}
.cardImg {
	/* Setting height to 100% will not take up the entire column height, but only 100% of what it's allowed to take because card still needs to cater for card.body */
	height: 100%;
	object-fit: contain;
}
