.navBarLogo {
  font-weight: 500;
}

/* CSS for the nav links in the middle */
.navLinks {
  font-weight: 500;
  font-size: 14px;
}
.navLinks:hover {
  color: #778da9;
}

/* CSS for the icons on the right */
.iconDiv {
  width: 8rem;
}

/* CSS for navbar toggler */
.navbarToggler,
.navbarToggler:focus,
.navbarToggler:active {
  outline: none;
  border: none;
  box-shadow: none;
}

@media (max-width: 991px) {
  /* Remove search icon from toggled navbar */
  /* .searchIcon {
    display: none;
  } */

  /* Align icons to center */
  .icon {
    margin: 1rem 1.5rem 1rem 0rem;
  }
  .iconDiv {
    width: 100%;
    margin-left: 1.3rem;
    justify-content: center !important;
  }

  /* Center align the navlinks in the middle */
  .navLinks {
    margin-left: 1.5rem;
    margin-right: 2.1rem;
  }
}
